logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.pro*
node_modules
.DS_Store
upload
dist
*.local
deploy.sh

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
